<div class="container-fluid defaultMargin">
	<h1>Filter</h1>
	<input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.query"/>
	<h1>My Books</h1>
	<div class="row">
		<ul>
			<li ng-repeat="book in $ctrl.myBooks | filter:$ctrl.query">
				<div class="book col-xs-10 col-sm-5 col-md-5 col-lg-3 row-size">			
					<img ng-src="{{book.thumbnail}}" alt="{{phone.title}}" class="centerImage" />

					<div class="bookInformartion">
						<label for="title">Title:</label>
						<p id="title">{{book.title}}</p>

						<label>Publisher:</label>
						<p id="publisher">{{book.publisher}}</p>

						<label>Authors:</label>
						<p id="authors" ng-repeat="author in book.authors">{{author}}</p>
					</div>	
				</div>
			</li>	
		</ul>
	</div>
</div>